<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">
	
	<div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0 ">

		<div class="w-full md:w-3/5 lg:pr-10 text-white">

			<h3 class="text-2xl font-semibold mb-4">Ideas, questions? Drop us a message</h3>
												

			<p>Have a project idea, question, or just want to say hello? Reach out to us! We're ready to make new friends and build together.</p>

		</div>


		
		<div class="self-center flex flex-col md:w-2/5 items-center">
			<a href="mailto:gamebite10@gamebite10.com" target="_blank" class="text-center w-full lg:w-2/5 px-6 py-2 rounded-full bg-white">Contact</a>
		</div>
		
	</div>

</div>